/*=================== Navbar ============================*/
#shypHeader{
  text-align: center;
  color:white;
  font-size: 30px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
/* unvisited link */

/*----- Home link ------*/
a:link[href="index.html"]{color:white;}
a:visited[href="index.html"]{color:white;}
a:hover[href="index.html"]{color:black;}
a:active[href="index.html"]{color:yellow;}
/*----- End Home link ------*/
/*----- Search link ------*/
a:link[href="itemSelection.html"]{color:white;}
a:visited[href="itemSelection.html"]{color:white;}
a:hover[href="itemSelection.html"]{color:black;}
a:active[href="itemSelection.html"]{color:yellow;}
/*----- End Search link ------*/
/*----- Questions link ------*/
a:link[href="questions.html"]{color:white;}
a:visited[href="questions.html"]{color:white;}
a:hover[href="questions.html"]{color:black;}
a:active[href="questions.html"]{color:yellow;}
/*----- End Questions link ------*/
/*----- Idea link ------*/
a:link[href="ideas.html"]{color:white;}
a:visited[href="ideas.html"]{color:white;}
a:hover[href="ideas.html"]{color:black;}
a:active[href="ideas.html"]{color:yellow;}
/*----- End Idea link ------*/

#shypBackground{
	width: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
