body{
	background-color: #DCDBD9;
	color:#2C2C2C;
	font:normal 100% Cambria, Georgia, serif;
}
h1{
	font-size: 1.5em; /* 24px/16 */
	font-style: italic;
	font-weight: normal;
}
h1 a{
	font:bold 0.458333333333333em Calibri, Optima, Arial, sans-serif; /* 11px/24px */
	color: #747474
	letter-spacing: 0.15em;
	text-transform: uppercase;
	text-decoration: none;
}
#page{
	margin: 36px auto;
	width: 90%;
	background-color: blue;
}
.blog{
	margin:0 auto 53px;
	width: 93.75%; /* 900/960 */
	background-color: black;
}
.blog .main{
	float: left;
	width: 566px;
	background-color:red;

}
.blog .other{
	float: right;
	width: 331px;
	background-color:green;
}
/* middle of page 32*/

